---
---

@mixin screen($name: 'medium') {
  $width: 640px;

  @media (min-width: $width) {
    @content;
  }
}

@import "fonts";

@import "glob";
@import "html";
@import "body";

@import "main";
@import "article";
@import "grid";
@import "nav";

@import "figure";
@import "figcaption";
@import "img";

@import "transitions";

:root {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-top: env(safe-area-inset-top);
  --touch-target-size: 44px;
}


small {
  opacity: 0.5
}


[clickable] {
  position: relative;

  a::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(red, 0.1);
  }
}
