:root {
  --page-padding-inline: max(28px, 5vw);
  --page-padding-block: var(--page-padding-inline);

  --logo-width: min(64px, 16vw);
  --logo-position: sticky;
  --logo-block-ratio: 2;
  --logo-inline-ratio: 1.5;

  --footer-alignment: flex-start;

  @include screen('medium') {
    --logo-block-ratio: 1;
    --logo-inline-ratio: 0.5;
    --logo-position: fixed;

    --footer-alignment: center;
  }
}

body {
  min-height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 12px;
  font-family: 'silka_mono', monospace;
  color: #000105;

  & > h1 {
    position: var(--logo-position);
    top: 0;
    left: 0;
    z-index: 5;

    padding-top: calc(var(--page-padding-inline) * var(--logo-block-ratio));
    padding-bottom: calc(var(--page-padding-inline));
    padding-left: calc(var(--page-padding-inline) * var(--logo-inline-ratio));

    pointer-events: none;

    color: white;
    mix-blend-mode: difference;

    & > a {
      display: block;
      width: min-content;

      text-decoration: none;
      font-size: 0;
    }

    & svg {
      width: var(--logo-width);
    }
  }

  & > footer {
    position: sticky;
    z-index: 0;
    bottom: 0;

    display: grid;
    align-items: center;
    justify-content: var(--footer-alignment);

    height: var(--content-bottom-padding);
    padding-inline: calc(var(--page-padding-inline) * var(--logo-inline-ratio));

    font-weight: 600;
    text-transform: uppercase;
    text-align: var(--footer-alignment);
  }
}
