figcaption {
  padding: var(--cap-inset) 0;

  grid-column: var(--cap-start) / span var(--cap-span);
  grid-row: var(--cap-row);

  display: grid;
  row-gap: 2em;

  font-size: 12px;

  & > h3 {
    font-size: clamp(0.875rem, calc(2vw + 0.5rem), 2.25rem)
  }

  & a {
    color: inherit;
  }
}
