@font-face {
  font-family: 'silka_monoblack';
  src: url('fonts/silkamono-black-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silka_monoregular';
  src: url('fonts/silkamono-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silka_monosemibold';
  src: url('fonts/silkamono-semibold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silka_monobold';
  src: url('fonts/silkamono-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silka_monolight';
  src: url('fonts/silkamono-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silka_monomedium';
  src: url('fonts/silkamono-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silka_monoextralight';
  src: url('fonts/silkamono-extralight-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silka_monothin';
  src: url('fonts/silkamono-thin-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
