:root {
  --nav-direction: row;
  --nav-inset: auto 0 0 0;

  @include screen('medium') {
    --nav-direction: column;
    --nav-inset: auto auto var(--page-padding-block) calc(var(--page-padding-inline) * 0.5);
  }
}

nav {
  position: fixed;
  inset: var(--nav-inset);
  z-index: 5;

  display: flex;
  flex-direction: var(--nav-direction);
  justify-content: space-between;
  align-items: center;
  gap: 2em;

  min-width: var(--logo-width);
  padding-top: 10em;
  padding-bottom: 1.25em;
  padding-inline: calc(var(--page-padding-inline) * var(--logo-inline-ratio));

  text-transform: uppercase;

  border-bottom: solid var(--safe-area-inset-bottom) white;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.00838519) 11.79%,
    rgba(255, 255, 255, 0.0324148) 21.38%,
    rgba(255, 255, 255, 0.0704) 29.12%,
    rgba(255, 255, 255, 0.120652) 35.34%,
    rgba(255, 255, 255, 0.181481) 40.37%,
    rgba(255, 255, 255, 0.2512) 44.56%,
    rgba(255, 255, 255, 0.328119) 48.24%,
    rgba(255, 255, 255, 0.410548) 51.76%,
    rgba(255, 255, 255, 0.4968) 55.44%,
    rgba(255, 255, 255, 0.585185) 59.63%,
    rgba(255, 255, 255, 0.674015) 64.66%,
    rgba(255, 255, 255, 0.7616) 70.88%,
    rgba(255, 255, 255, 0.846252) 78.62%,
    rgba(255, 255, 255, 0.926281) 88.21%,
    rgba(255, 255, 255, 1) 100%,
  );

  pointer-events: none;

  & > footer {
    display: inline-flex;
    margin-top: 0.5em;
    gap: 1em;

    @media (hover: none) {
      margin-top: 0;
      gap: 2.25em;
    }
  }

  & svg {
    width: 1.25em;
  }

  & a {
    position: relative;

    text-decoration: none;
    font-weight: 600;

    @media (hover: none) {
      &::after {
        content: '';

        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;

        width: 100%;
        height: 100%;
        min-width: var(--touch-target-size);
        min-height: var(--touch-target-size);

        transform: translateY(-50%) translateX(-50%);
      }
    }
  }

  @include screen('medium') {
    background: none;
    border-bottom: 0;
    padding: 0;
  }
}




