<!DOCTYPE html>
<html lang="en">
  <head>
    {% if page.title %}
    <title>{{ page.title }} - Dovilė Cibulskaitė</title>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.og_title %}<meta content="{{ page.og_title }}" property="og:title">{% endif %}
    {% if page.og_description %}<meta content="{{ page.og_description }}" property="og:description">{% endif %}
    {% if page.og_image %}<meta content="{{ page.og_image }}" property="og:image">{% endif %}

    <style>
      {% capture style %}
      {% include style.scss %}
      {% endcapture %}
      {{ style | scssify }}
    </style>
  </head>


  <body>
    <div class="cover">
      <div class="cover__content">
        <h1 class="cover__label">
          Dovilė Cibulskaitė<br><span class="cover__meta">fashion designer & stylist</span>
        </h1>
      </div>
    </div>
  </body>
</html>
