<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include navigation.html %}

    <main>
      <grid>
        <figure faded cover>
          <img src="{{ '/pictures' | append: page.url | append: '/01.webp' }}" width="{{ page.width }}" height="{{ page.height }}">
          <figcaption>
            <h3>{{ page.title }}</h3>

            {{ content }}

            {% include get.html %}
          </figcaption>
        </figure>

        {% for picture in page.pictures %}
          <figure faded>
            <img src="/pictures{{ page.url }}/{{ picture.name }}" loading="lazy" width="{{ picture.width }}" height="{{ picture.height }}">
          </figure>
        {% endfor %}
      </grid>
    </main>

    {% include cta.html %}
    {% include scripts.html %}
  </body>
</html>
